*
!src/*
!Cargo.toml
!Cargo.lock
!test/src/*
!test/Cargo.toml
!test/Cargo.lock
!wrapper.h
!docker/*
!build.rs
!example/hello/src/*
!example/hello/Cargo.toml
!example/hello/Cargo.lock
!example/renice/src/*
!example/renice/Cargo.toml
!example/renice/Cargo.lock